*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  }


  body{
    font-family: 'Fredoka One', cursive;
    /* overflow: hidden; */
    background-color: #C4C4C4;
    overflow: hidden;
  }
  
  #quiz_wrapper{
    background:url(./image/nezumiwithbackground.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 1500px;
  }

  #pointsante{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.active{
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.timer{
  width: 200px;
  height: 150px;
}


  #question_wrapper{
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;

  }
.numOfQ{
  color:#FB6565 ;
  font-size: 300%;
  padding-bottom:50px ;
}

.question{
  color:#FB6565 ;
  font-size: 200%;
  text-align: center;
}

.selection_container{
  display: flex;
  justify-content: space-around;
position: relative ;
}


  .button_container{
    width: 20%;
    position:relative;
    text-decoration: none;
    color:  rgb(73, 58, 58);
  }




  #true_button span{
    position: absolute;
    top: 70px;
    left: 45px;
  }

  #false_button span{
    position: absolute;
    top: 70px;
    left: 35px;
  }


 

#chasingcat{
  width: 300px;
  margin-bottom: 500px;
}